.wrap-login {
  margin-top: 64px;
  .form {
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    form {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 25px;
      input {
        padding: 10px;
        border-radius: 5px;
        border: rgba(0, 0, 0, 0.482) 1px solid;
      }
    }
  }
}
