@import "../../scss/parts/mixin";
.wrap-side-bar {
  .side-bar {
    background: #ececec;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include screen(xxl) {
  .wrap-side-bar {
    .side-bar {
      top: 0;
      left: 0;
      bottom: 0;
      width: 150px;
      display: block;
    }
  }
}
