@import "../../scss/parts/variable";
@import "../../scss/parts/mixin";

.content-wrap {
  overflow-x: hidden;
  min-height: 500px;
  background: $bgColor;
  border-radius: 30px;
  padding: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title-testimonials {
    h2 {
      color: #fff;
      margin-bottom: 8rem;
    }
  }
}

@include screen(lg) {
  .content-wrap {
    min-height: 700px;
    .title-testimonials {
      align-self: flex-start;
      h2 {
        text-align: left;
        margin-left: 40px;
      }
    }
  }
}
