.wrapper {
  width: 100%;

  .header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    background: #fff;

    .nav-bar {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
    }
  }
}
